<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}Sistema del CLEI{% endblock %}</title>
</head>

<body>
  <h1>CLEI</h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="content">
      <h2>Descripcion:</h2>
        {% block content %}<p>Sistema Automatizado del CLEI</p>{% endblock %}
    </div>
</body>
<form>
  <input type="button" VALUE="Atras" onClick="history.go(-1);return
        true;">
</form>
</html>
