<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Sistema del CLEI{% endblock %}</title>
</head>

<body>
  <h1>CLEI</h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/participante">Ver Participantes</a></li>
            <li><a href="/participante/create">Agregar Participante</a></li>
        </ul>
        {% endblock %}
    </div>
    <div id="content">
      <h2>Descripcion:</h2>
        {% block content %}<p>Sistema Automatizado del CLEI</p>{% endblock %}
    </div>
</body>
</html>
