{% extends "index.html" %}

{% block content %}
<h3>{{ objeto }}</h3>
<ul>
	<li>Nombre: {{ miembro.nombre }} {{ miembro.apellido }}</li>
	<li>Cedula: {{ miembro.cedula }}</li>
	<li>Institucion: {{ miembro.institucion_afiliada }}</li>
	<li>Email: {{ miembro.email }}</li>
	<li>Pais: {{ miembro.pais }}</li>
  <li>Cargo: {{ objeto.cargo }}</li>
</ul>
<form>

<form>
	<a class="boton" href="javascript:history.back()">Atras</a>
</form>
{% endblock %}

{% block sidebar %}
<li>
  <p>Datos del Miembro CP</p>
</li>
{% endblock %}
