<!DOCTYPE html>
<html lang="es">
  <head>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="icon" type="image/ico" href="{% static 'images/favicon_manzana.ico' %}" />
    <title>{% block title %}Sistema del CLEI{% endblock %}</title>
  </head>

  <body>
    <div class="header">
      <div class="navbar-inner">
        <div class="navbar">
    	  <div class="nav">
      	    <a href="/">
              <img class="clei" src="/static/clei_regen.png">
       	      <h1>CLEI</h1>
      	    </a>
    	  </div>
          <div class="nav">
            <ul>
              <li><a href="#"><i>CLEI</i></a>
                <ul>
                  <li><a href="/clei/crear">Nuevo Clei</a></li>
                  <li><a href="/clei/detalle">Detalles del Clei</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav">
            <ul>
              <li><a href="#">Participante</a>
                <ul>
                  <li>
                    <a href="/persona#">Listar Participantes</a>
                  </li>
                  <li><a href="#">Asistentes</a>
                    <ul>
                      <li>
                        <a href="/asistente/inscribir">Inscribir Persona</a>
                      </li>
                      <li>
                        <a href="/asistente/inscritos">Listar Inscritos</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#">Invitados</a>
                    <ul>
                      <li>
                        <a href="#">Invitar Persona</a>
                      </li>
                      <li>
                        <a href="#">Listar Invitados</a>
                      </li>
                    </ul>
                  </li>	
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav">
            <ul>
              <li><a href="#">Evento</a>
                <ul>
                  <li>
                    <a href="/evento">Listar Eventos</a>
                  </li>
                  <li>
                    <a href="#">Crear Evento</a>
                    <ul>
                      <li>
                        <a href="/evento/sesion_crear">Nueva
                        Sesion</a>
                      </li>
                      <li>
                        <a href="/evento/charla_crear">Nueva Charla
                        Invitada</a>
                      </li>
                      <li>
                        <a href="/evento/taller_crear">Nuevo Taller</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="/evento">Lugar</a>
                  <ul>
                      <li>
                        <a href="/evento/lugar_listar">Listar Lugar
                        </a>
                      </li>
                      <li>
                        <a href="/evento/lugar_crear">Nuevo Lugar
                        </a>
                      </li>
                  </ul>
                 </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav">
            <ul>
              <li><a href="#">Comite de Programa</a>
                <ul>
                  <li>
                    <a href="/miembro_cp">Listar Miembros CP</a>
                  </li>
                  <li>
                    <a href="/miembro_cp/agregar">Agregar Miembro CP</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="nav">
            <ul>
              <li><a href="#">Articulo</a>
                <ul>
                  <li>
                    <a href="/articulo">Ver Articulos</a>
                  </li>
                  <li>
                    <a href="/articulo/agregar">Agregar Articulo</a>
                  </li>
                  <li>
                    <a href="/miembro_cp/calificar">Calificar 
                      Articulo</a>
                  </li>
                  <li>
                    <a href="/miembro_cp/seleccion">
                      Seleccionar Articulos
                    </a>
                  </li>
                  <li>
                    <a href="/articulo/autor">Ver Autores</a>
                  </li>
                  <li>
                    <a href="/articulo/autor/registrar">Registrar Autor</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /nav -->
    </div>
    <hr>
    <div class="page-container">
      <div class="container">
        <div class="container-body">
          {% block content %}
          <h2>Bienvenido</h2>
          <h3>CLEI</h3>
          {% endblock %}
        </div>

        <div class="sidebar">
          <ul>
            <li>Descripcion:</li>
            {% block sidebar %}
            <li>
              <p>Sistema Automatizado del CLEI</p>
            </li>
            {% endblock %}
          </ul>
        </div>
      </div>
    </div>

    <footer class="page-container">
      <div class="footer">
        <p>
          <b>Universidad Simón Bolívar Copyright © 2014</b>
        </p>
        <p>
          <b>Software diseñado por estudiantes de Computacion.</b>
        </p>
      </div>
    </footer>      
  </body>
</html>
