{% extends "index.html" %}

{% block content %}
<h3>{{ object.nombre }}</h3>
<ul>
  <li>Nombre: {{ object.nombre }}</li>
  <li>Apellido: {{ object.apellido }}</li>
  <li>Cedula: {{ object.cedula }} </li>
  <li>Institucion: {{ object.institucion_afiliada }}</li>
  <li>Email: {{ object.email }}</li>
  <li>Pais: {{ object.pais }}</li>
  <li>Curriculum: {{ object.curriculum }}</li>
</ul>

<form>
  <input type="button" VALUE="Atras" onClick="history.go(-1);return
        true;">
</form>
{% endblock %}

{% block sidebar %}
<li>
  <p>Datos de Invitado</p>
</li>
{% endblock %}