{% extends "index.html" %}

{% block content %}
<h3>Miembros Comite Programa:</h3>
{% if miembrosCp %}
<ul>
  <ul>
    {% for p in miembrosCp %}
    <li><a href="/miembroCp/ver/{{ p.id }}/">{{ p.nombre }}  {{ p.apellido }} </a></li>
    {% endfor %}
  </ul>
</ul>
{% else %}
<li>
  <p>No existen Miembros de Comite Programas.</p>
</li>
{% endif %}

<form>
  <input type="button" VALUE="Agregar Miembro CP" onClick="window.location.href='create'">
</form>

{% endblock %}

{% block sidebar %}
<li>
  <p>Lista de los miembros de Comite Programa del CLEI</p>
</li>
{% endblock %}