{% extends "index.html" %}

{% block content %}
<h3>Articulos:</h3>
{% if objeto_int > 0 %}
<ul>
  <li><a href="/articulo/autor/">Mostrar por autor</a></li>
  <li><a href="/articulo/topico/">Mostrar por topicos</a></li>
  <li><a href="/articulo/palabrasclaves/">Buscar palabras claves</a></li>
</ul>
{% else %}
<li>
  <p>No existen articulos.</p>
</li>
{% endif %}

<form>
  <input type="button" VALUE="Crear Articulo" onClick="window.location.href='agregar'">
</form>
{% endblock %}

{% block sidebar %}
<li>
  <p>Articulos del CLEI</p>
</li>
{% endblock %}
